<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zd.zdanalysis.mapper.ProjectInfoMapper">
    <!--查询是否存在该表-->
    <select id="selectTableByName" parameterType="string" resultType="string">
         show TABLES like #{tablename}
    </select>
    <!--临时表存在则删除-->
    <delete id="deleteTableByName" parameterType="string">
      DROP TEMPORARY TABLE IF EXISTS ${name}
    </delete>
    <update id="createTables" parameterType="string">
        create TEMPORARY table  ${param1} (
         <foreach collection="param2" item="Item" separator=",">
             ${Item} text
        </foreach>
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8
    </update>

    <!--批量插入数据-->
    <insert id="insetDatas">
        insert ${param1}()
        values
        ${param2}

    </insert>
    <select id="selectResult"  resultType="java.util.LinkedHashMap" parameterType="string">
        select * from ${tables}
    </select>
    <select id="selectResults"  resultType="int" parameterType="string">
        select count(*) from ${tables}
    </select>

    <select id="selectTables" resultType="java.util.LinkedHashMap">
        select * from ${param1} inner join ${param3} on  ${param1}.${param2}=${param3}.${param4}
    </select>

    <!--输出表字段,多张表-->
    <select id="selectTableDada" resultType="string">
         select ${write.table}.${write.field} from  ${write.table}
    </select>

    <!--输出表字段,单张表-->
    <select id="selectTableDada2" resultType="java.util.LinkedHashMap">
        select
        <foreach collection="writeList" item="write" separator=",">
            ${write.table}.${write.field}
        </foreach>
        from ${writeList.get(0).getTable()}
    </select>

    <!--新增多张表关联,多个输出字段,一个自定义字段,多个主条件(可选内容可为空),多个副条件(可选内容可为空)-->
    <!--  <select id="selectByStatement" resultType="java.util.LinkedHashMap">
              select
          <foreach collection="writeList" item="write" separator=",">
                  ${write.table}.${write.field}
              </foreach>
          from
          ${param1}
          <if test="tableRelevance.size()!=0">
              <foreach collection="tableRelevance" item="tr">
                  inner join ${tr.table2} on
                  ${tr.table1}.${tr.fields1}=${tr.table2}.${tr.fields2}
              </foreach>
          </if>
          where
          <foreach collection="majorsList" item="m" separator="and">
              <if test="m.conditions==1">
                  <if test="m.tag==2">
                      ${m.table1}.${m.field1} &gt; ${m.table2}.${m.field2}
                      and ${m.table1}.${m.field1} - ${m.table2}.${m.field2 }
                      <if test="m.tags==1">
                          &gt; '${m.value}'
                      </if>
                      <if test="m.tags==2">
                          >0
                      </if>
                  </if>
                  <if test="m.tag==1">
                      ${m.table1}.${m.field1}
                      <if test="m.tags==1">
                          &gt; '${m.value}'
                      </if>
                      <if test="m.tags==2">
                          > 0
                      </if>
                  </if>
              </if>

              <if test="m.conditions==2">
                  <if test="m.tag==2">
                      ${m.table1}.${m.field1}=${m.table2}.${m.field2}
                      <if test="m.tags==1">
                          and ${m.table2}.${m.field2} = '${m.value}'
                      </if>
                      <if test="m.tags==2">

                      </if>
                  </if>
                  <if test="m.tag==1">
                      ${m.table1}.${m.field1}
                      <if test="m.tags==1">
                          = '${m.value}'
                      </if>
                      <if test="m.tags==2">
                          = ""
                      </if>
                  </if>
              </if>

              <if test="m.conditions==3">
                  <if test="m.tag==2">
                      ${m.table1}.${m.field1} &lt; ${m.table2}.${m.field2}
                      and ${m.table2}.${m.field2} - ${m.table1}.${m.field1 }
                      <if test="m.tags==1">
                          &lt; '${m.value}'
                      </if>
                      <if test="m.tags==2">
                          &lt; 0
                      </if>
                  </if>
                  <if test="m.tag==1">
                      ${m.table1}.${m.field1}
                      <if test="m.tags==1">
                          &lt; '${m.value}'
                      </if>
                      <if test="m.tags==2">
                          &lt; 0
                      </if>
                  </if>
              </if>

              <if test="m.conditions==4">
                  <if test="m.tag==2">
                      ${m.table1}.${m.field1} &gt;= ${m.table2}.${m.field2}
                      and ${m.table1}.${m.field1} - ${m.table2}.${m.field2 }
                      <if test="m.tags==1">
                          &gt;= '${m.value}'
                      </if>
                      <if test="m.tags==2">
                          &gt;=0
                      </if>
                  </if>
                  <if test="m.tag==1">
                          ${m.table1}.${m.field1}
                      <if test="m.tags==1">
                              &gt;='${m.value}'
                          </if>
                      <if test="m.tags==2">
                              &gt;= 0
                          </if>
                  </if>
              </if>

              <if test="m.conditions==5">
                  <if test="m.tag==2">
                      ${m.table1}.${m.field1} &lt;= ${m.table2}.${m.field2}
                      and ${m.table2}.${m.field2} - ${m.table1}.${m.field1 }
                      <if test="m.tags==1">
                          &lt;= '${m.value}'
                      </if>
                      <if test="m.tags==2">
                          &lt;= 0
                      </if>
                  </if>
                  <if test="m.tag==1">
                          ${m.table1}.${m.field1}
                      <if test="m.tags==1">
                              &lt;= '${m.value}'
                          </if>
                      <if test="m.tags==2">
                              &lt;= 0
                          </if>
                  </if>
              </if>

              <if test="m.conditions==6">
                  <if test="m.tag==2">
                      ${m.table1}.${m.field1} != ${m.table2}.${m.field2}
                      <if test="m.tags==1">
                          and ${m.table2}.${m.field2} != '${m.value}'
                      </if>
                      <if test="m.tags==2">
                          !=0
                      </if>
                  </if>
                  <if test="m.tag==1">
                      ${m.table1}.${m.field1}
                      <if test="m.tags==1">
                          != '${m.value}'
                      </if>
                      <if test="m.tags==2">
                          != ""
                      </if>
                  </if>
              </if>
          </foreach>

          <foreach collection="viceList" item="v">
              <if test="v.conditions==1">
                  <if test="v.tag==2">
                      and ${v.table1}.${v.field1} &gt; ${v.table2}.${v.field2}
                      and ${v.table1}.${v.field1} - ${v.table2}.${v.field2 }
                      <if test="v.tags==1">
                          &gt; '${v.value}'
                      </if>
                      <if test="v.tags==2">
                          >0
                      </if>
                  </if>
                  <if test="v.tag==1">
                      and ${v.table1}.${v.field1}
                      <if test="v.tags==1">
                          &gt; '${v.value}'
                      </if>
                      <if test="v.tags==2">
                          > 0
                      </if>
                  </if>
              </if>

              <if test="v.conditions==2">
                  <if test="v.tag==2">
                      and ${v.table1}.${v.field1}=${v.table2}.${v.field2}
                      <if test="v.tags==1">
                          and ${v.table2}.${v.field2} = '${v.value}'
                      </if>
                      <if test="v.tags==2">

                      </if>
                  </if>
                  <if test="v.tag==1">
                      and ${v.table1}.${v.field1}
                      <if test="v.tags==1">
                          = '${v.value}'
                      </if>
                      <if test="v.tags==2">
                          = ""
                      </if>
                  </if>
              </if>

              <if test="v.conditions==3">

                  <if test="v.tag==2">
                      and ${v.table1}.${v.field1} &lt; ${v.table2}.${v.field2}
                      and ${v.table2}.${v.field2} - ${v.table1}.${v.field1 }
                      <if test="v.tags==1">
                          &lt; '${v.value}'
                      </if>
                      <if test="v.tags==2">
                          &lt; 0
                      </if>
                  </if>
                  <if test="v.tag==1">
                      and ${v.table1}.${v.field1}
                      <if test="v.tags==1">
                          &lt; '${v.value}'
                      </if>
                      <if test="v.tags==2">
                          &lt; 0
                      </if>
                  </if>
              </if>

              <if test="v.conditions==4">
                  <if test="v.tag==2">
                      and ${v.table1}.${v.field1} &gt;= ${v.table2}.${v.field2}
                      and ${v.table1}.${v.field1} - ${v.table2}.${v.field2 }
                      <if test="v.tags==1">
                          &gt;= '${v.value}'
                      </if>
                      <if test="v.tags==2">
                          &gt;=0
                      </if>
                  </if>
                  <if test="v.tag==1">
                      and ${v.table1}.${v.field1}
                      <if test="v.tags==1">
                          &gt;='${v.value}'
                      </if>
                      <if test="v.tags==2">
                          &gt;= 0
                      </if>
                  </if>
              </if>

              <if test="v.conditions==5">
                  <if test="v.tag==2">
                      and ${v.table1}.${v.field1} &lt;= ${v.table2}.${v.field2}
                      and ${v.table2}.${v.field2} - ${v.table1}.${v.field1 }
                      <if test="v.tags2==1">
                          &lt;= '${v.value}'
                      </if>
                      <if test="v.tags==2">
                          &lt;= 0
                      </if>
                  </if>
                  <if test="v.tag==1">
                      and ${v.table1}.${v.field1}
                      <if test="v.tags2==1">
                          &lt;= '${v.value}'
                      </if>
                      <if test="v.tags==2">
                          &lt;= 0
                      </if>
                  </if>
              </if>

              <if test="v.conditions==6">
                  <if test="v.tag==2">
                      and ${v.table1}.${v.field1} != ${v.table2}.${v.field2}
                      <if test="v.tags2==1">
                          and ${v.table2}.${v.field2} != '${v.value}'
                      </if>
                      <if test="v.tags==2">
                          !=0
                      </if>
                  </if>
                  <if test="v.tag==1">
                      and ${v.table1}.${v.field1}
                      <if test="v.tags2==1">
                          != '${v.value}'
                      </if>
                      <if test="v.tags==2">
                          != ""
                      </if>
                  </if>
              </if>
          </foreach>
      </select>-->
    <select id="selectByStatement" resultType="java.util.LinkedHashMap">
        select
        <!--没有表进行关联-->
        <if test="tableRelevance.size()==0">
            <if test="tag==1"><!--输出字段全是一张表的字段-->
                <foreach collection="writeList" item="write" separator=",">
                    ${write.table}.${write.field}
                </foreach>
                from ${writeList.get(0).getTable()}
            </if>
            <if test="tag==2"><!--输出字段全是多张表的字段-->
                <foreach collection="writeList" item="write" separator=",">
                    ${write.table}.${write.field} from ${write.table}
                </foreach>
            </if>
        </if>
        <!--有表进行关联-->
        <if test="tableRelevance.size()!=0">
            <if test="tag==1"><!--输出字段全是一张表的字段-->
                <foreach collection="writeList" item="write" separator=",">
                    ${write.table}.${write.field}
                </foreach>
            </if>
            <if test="tag==2"><!--输出字段全是多张表的字段-->
                <foreach collection="writeList" item="write" separator=",">
                    ${write.table}.${write.field}
                </foreach>
            </if>
            from
            ${name}
            <foreach collection="tableRelevance" item="tr">
                inner join ${tr.table2} on
                ${tr.table1}.${tr.fields1}=${tr.table2}.${tr.fields2}
            </foreach>
        </if>

        <foreach collection="majorsList" item="m" separator="and">
            where
            <if test="m.conditions==1">
                <if test="m.tag==2">
                    ${m.table1}.${m.field1} &gt; ${m.table2}.${m.field2}
                    and ${m.table1}.${m.field1} - ${m.table2}.${m.field2 }
                    <if test="m.tags==1">
                        &gt; '${m.value}'
                    </if>
                    <if test="m.tags==2">
                        >0
                    </if>
                </if>
                <if test="m.tag==1">
                    ${m.table1}.${m.field1}
                    <if test="m.tags==1">
                        &gt; '${m.value}'
                    </if>
                    <if test="m.tags==2">
                        > 0
                    </if>
                </if>
            </if>

            <if test="m.conditions==2">
                <if test="m.tag==2">
                    ${m.table1}.${m.field1}=${m.table2}.${m.field2}
                    <if test="m.tags==1">
                        and ${m.table2}.${m.field2} = '${m.value}'
                    </if>
                    <if test="m.tags==2">

                    </if>
                </if>
                <if test="m.tag==1">
                    ${m.table1}.${m.field1}
                    <if test="m.tags==1">
                        = '${m.value}'
                    </if>
                    <if test="m.tags==2">
                        = ""
                    </if>
                </if>
            </if>

            <if test="m.conditions==3">
                <if test="m.tag==2">
                    ${m.table1}.${m.field1} &lt; ${m.table2}.${m.field2}
                    and ${m.table2}.${m.field2} - ${m.table1}.${m.field1 }
                    <if test="m.tags==1">
                        &lt; '${m.value}'
                    </if>
                    <if test="m.tags==2">
                        &lt; 0
                    </if>
                </if>
                <if test="m.tag==1">
                    ${m.table1}.${m.field1}
                    <if test="m.tags==1">
                        &lt; '${m.value}'
                    </if>
                    <if test="m.tags==2">
                        &lt; 0
                    </if>
                </if>
            </if>

            <if test="m.conditions==4">
                <if test="m.tag==2">
                    ${m.table1}.${m.field1} &gt;= ${m.table2}.${m.field2}
                    and ${m.table1}.${m.field1} - ${m.table2}.${m.field2 }
                    <if test="m.tags==1">
                        &gt;= '${m.value}'
                    </if>
                    <if test="m.tags==2">
                        &gt;=0
                    </if>
                </if>
                <if test="m.tag==1">
                    ${m.table1}.${m.field1}
                    <if test="m.tags==1">
                        &gt;='${m.value}'
                    </if>
                    <if test="m.tags==2">
                        &gt;= 0
                    </if>
                </if>
            </if>

            <if test="m.conditions==5">
                <if test="m.tag==2">
                    ${m.table1}.${m.field1} &lt;= ${m.table2}.${m.field2}
                    and ${m.table2}.${m.field2} - ${m.table1}.${m.field1 }
                    <if test="m.tags==1">
                        &lt;= '${m.value}'
                    </if>
                    <if test="m.tags==2">
                        &lt;= 0
                    </if>
                </if>
                <if test="m.tag==1">
                    ${m.table1}.${m.field1}
                    <if test="m.tags==1">
                        &lt;= '${m.value}'
                    </if>
                    <if test="m.tags==2">
                        &lt;= 0
                    </if>
                </if>
            </if>

            <if test="m.conditions==6">
                <if test="m.tag==2">
                    ${m.table1}.${m.field1} != ${m.table2}.${m.field2}
                    <if test="m.tags==1">
                        and ${m.table2}.${m.field2} != '${m.value}'
                    </if>
                    <if test="m.tags==2">
                        !=0
                    </if>
                </if>
                <if test="m.tag==1">
                    ${m.table1}.${m.field1}
                    <if test="m.tags==1">
                        != '${m.value}'
                    </if>
                    <if test="m.tags==2">
                        != ""
                    </if>
                </if>
            </if>
        </foreach>

        <foreach collection="viceList" item="v">
            <if test="v.conditions==1">
                <if test="v.tag==2">
                    and ${v.table1}.${v.field1} &gt; ${v.table2}.${v.field2}
                    and ${v.table1}.${v.field1} - ${v.table2}.${v.field2 }
                    <if test="v.tags==1">
                        &gt; '${v.value}'
                    </if>
                    <if test="v.tags==2">
                        >0
                    </if>
                </if>
                <if test="v.tag==1">
                    and ${v.table1}.${v.field1}
                    <if test="v.tags==1">
                        &gt; '${v.value}'
                    </if>
                    <if test="v.tags==2">
                        > 0
                    </if>
                </if>
            </if>

            <if test="v.conditions==2">
                <if test="v.tag==2">
                    and ${v.table1}.${v.field1}=${v.table2}.${v.field2}
                    <if test="v.tags==1">
                        and ${v.table2}.${v.field2} = '${v.value}'
                    </if>
                    <if test="v.tags==2">

                    </if>
                </if>
                <if test="v.tag==1">
                    and ${v.table1}.${v.field1}
                    <if test="v.tags==1">
                        = '${v.value}'
                    </if>
                    <if test="v.tags==2">
                        = ""
                    </if>
                </if>
            </if>

            <if test="v.conditions==3">

                <if test="v.tag==2">
                    and ${v.table1}.${v.field1} &lt; ${v.table2}.${v.field2}
                    and ${v.table2}.${v.field2} - ${v.table1}.${v.field1 }
                    <if test="v.tags==1">
                        &lt; '${v.value}'
                    </if>
                    <if test="v.tags==2">
                        &lt; 0
                    </if>
                </if>
                <if test="v.tag==1">
                    and ${v.table1}.${v.field1}
                    <if test="v.tags==1">
                        &lt; '${v.value}'
                    </if>
                    <if test="v.tags==2">
                        &lt; 0
                    </if>
                </if>
            </if>

            <if test="v.conditions==4">
                <if test="v.tag==2">
                    and ${v.table1}.${v.field1} &gt;= ${v.table2}.${v.field2}
                    and ${v.table1}.${v.field1} - ${v.table2}.${v.field2 }
                    <if test="v.tags==1">
                        &gt;= '${v.value}'
                    </if>
                    <if test="v.tags==2">
                        &gt;=0
                    </if>
                </if>
                <if test="v.tag==1">
                    and ${v.table1}.${v.field1}
                    <if test="v.tags==1">
                        &gt;='${v.value}'
                    </if>
                    <if test="v.tags==2">
                        &gt;= 0
                    </if>
                </if>
            </if>

            <if test="v.conditions==5">
                <if test="v.tag==2">
                    and ${v.table1}.${v.field1} &lt;= ${v.table2}.${v.field2}
                    and ${v.table2}.${v.field2} - ${v.table1}.${v.field1 }
                    <if test="v.tags==1">
                        &lt;= '${v.value}'
                    </if>
                    <if test="v.tags==2">
                        &lt;= 0
                    </if>
                </if>
                <if test="v.tag==1">
                    and ${v.table1}.${v.field1}
                    <if test="v.tags==1">
                        &lt;= '${v.value}'
                    </if>
                    <if test="v.tags==2">
                        &lt;= 0
                    </if>
                </if>
            </if>

            <if test="v.conditions==6">
                <if test="v.tag==2">
                    and ${v.table1}.${v.field1} != ${v.table2}.${v.field2}
                    <if test="v.tags==1">
                        and ${v.table2}.${v.field2} != '${v.value}'
                    </if>
                    <if test="v.tags==2">
                        !=0
                    </if>
                </if>
                <if test="v.tag==1">
                    and ${v.table1}.${v.field1}
                    <if test="v.tags==1">
                        != '${v.value}'
                    </if>
                    <if test="v.tags==2">
                        != ""
                    </if>
                </if>
            </if>
        </foreach>
    </select>
</mapper>